Repository reginabuehler/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

fix: add shell quotes to reduce command injection risk
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: limit size of log file printing
  src/queens/drivers/jobscript.py
  tests/unit_tests/drivers/test_jobscript.py
Due: check-license-header, docformatter, black, pylint

fix: typo
  tools/dependencies/check_pyproject_dependency_integrity.py
Due: check-license-header, docformatter, black, pylint, mypy

ci: ensure pixi available and correct version
  .gitlab/.gitlab-ci.yml
Due: yamllint

docs: explain test setup
  tests/integration_tests/iterators/test_hamiltonian_monte_carlo.py
Due: check-license-header, docformatter, black, pylint-integration-tests

docs: Unix system remains a prerequisite
  README.md
Due: none

docs: add code quality badge
  README.md
Due: none

docs: add test pypi build badge
  README.md
Due: none

chore: remove unused code
  tests/unit_tests/utils/test_path_utils.py
Due: check-license-header, docformatter, black, pylint

ci: remove verbose flag to keep collecting log output (#313)
  .gitlab/.gitlab-ci.yml
Due: yamllint

Cluster Local Scheduler Tests (#314)
  .github/workflows/local_testsuite.yml
  pyproject.toml
  src/queens/schedulers/_cluster_base.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/cluster_local.py
  src/queens/utils/ports.py
  src/queens/utils/remote_operations.py
  src/queens/utils/start_dask_cluster.py
  tests/conftest.py
  tests/integration_tests/cluster_local/__init__.py
  tests/integration_tests/cluster_local/docker/Dockerfile
  tests/integration_tests/cluster_local/docker/slurm.conf
  tests/integration_tests/cluster_local/docker/start-slurm.sh
  tests/integration_tests/cluster_local/test_cluster_local.py
  tests/unit_tests/schedulers/test_cluster_local.py
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

refactor: rename cluster scheduler to adhere to coding conventions
  doc/source/faqs/directories.md
  src/queens/drivers/jobscript.py
  src/queens/schedulers/__init__.py
  src/queens/schedulers/_cluster.py
  src/queens/schedulers/cluster_local.py
  src/queens/schedulers/cluster_remote.py
  src/queens/utils/start_dask_cluster.py
  tests/integration_tests/cluster/test_cluster.py
  tests/unit_tests/schedulers/test_cluster_local.py
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

refactor: rename cluster scheduler in test file
  tests/integration_tests/cluster/test_cluster_remote.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
Due: check-license-header, docformatter, black, pylint-integration-tests

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)(
^(.gitlab|.github|config|doc|tests|test_utils)/|
^src/(example_simulator_functions|queens_interfaces)/|
^src/queens/(data_processors|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/(main.py|global_settings.py)
).*$

