Repository reginabuehler/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

fix: Disable ruff for jupyter files (#228)
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint

refactor: make dataprocessor callable for the drivers
  src/queens/data_processors/_data_processor.py
  src/queens/drivers/jobscript.py
  src/queens/drivers/mpi.py
  src/queens_interfaces/fourc/driver.py
Due: check-license-header, docformatter, black, pylint

feat: add flag & user prompt to overwrite existing experiment directory (#230)
  src/queens/drivers/jobscript.py
  src/queens/schedulers/_dask.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/local.py
  src/queens/schedulers/pool.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/integration_tests/fourc/test_fourc_mc.py
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/schedulers/test_experiment_dir.py
  tests/unit_tests/tutorials/test_tutorials.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

fix: Explicitly import recfuntions
  src/queens/utils/sequential_monte_carlo.py
Due: check-license-header, docformatter, black, pylint, mypy

refactor: remove the need for driver objects in the schedulers
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/models/adjoint.py
  src/queens/models/finite_difference.py
  src/queens/models/simulation.py
  src/queens/schedulers/_dask.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/pool.py
  tests/unit_tests/models/test_differentiable_adjoint.py
  tests/unit_tests/models/test_differentiable_fd.py
Due: check-license-header, docformatter, black, pylint

refactor: move transformation to dict to simulation model
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/models/adjoint.py
  src/queens/models/finite_difference.py
  src/queens/models/simulation.py
  src/queens/schedulers/_dask.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/pool.py
  tests/unit_tests/models/test_differentiable_adjoint.py
  tests/unit_tests/models/test_differentiable_fd.py
  tests/unit_tests/models/test_simulation.py
Due: check-license-header, docformatter, black, pylint

ensure modularity in sobol index gp uncertainty
  src/queens/iterators/sobol_index_gp_uncertainty.py
Due: check-license-header, docformatter, black, pylint

style: add type hinting to parameters (#240)
  .pre-commit-config.yaml
  pyproject.toml
  src/queens/distributions/__init__.py
  src/queens/distributions/_distribution.py
  src/queens/distributions/beta.py
  src/queens/distributions/free_variable.py
  src/queens/distributions/mean_field_normal.py
  src/queens/distributions/normal.py
  src/queens/parameters/parameters.py
  src/queens/parameters/random_fields/__init__.py
  src/queens/parameters/random_fields/_random_field.py
  src/queens/parameters/random_fields/fourier.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/parameters/random_fields/piece_wise.py
  src/queens/utils/numpy_array.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

ci: switch to 4c-minimal image (#250)
  .github/workflows/tests_local.yml
  test_utils/integration_tests.py
  tests/conftest.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/integration_tests/fourc/conftest.py
  tests/integration_tests/fourc/test_fourc_mc.py
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

Add tutorial 3
  tests/unit_tests/tutorials/test_3_orchestrating_4C_simulations_with_QUEENS.py
  tutorials/3-orchestrating-4C-simulations-with-QUEENS/3_orchestrating_4C_simulations_with_QUEENS.ipynb
  tutorials/3-orchestrating-4C-simulations-with-QUEENS/beam_coarse.exo
  tutorials/3-orchestrating-4C-simulations-with-QUEENS/experimental_data.py
  tutorials/3-orchestrating-4C-simulations-with-QUEENS/template.4C.yaml
  tutorials/3-orchestrating-4C-simulations-with-QUEENS/utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

refactor: rename file of PRVI iterator according to naming standards (#249)
  src/queens/iterators/__init__.py
  src/queens/iterators/rpvi.py
  tests/integration_tests/iterators/test_bmfia.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

feat(adaptiveSampling): Handle failed simulations.
  src/queens/iterators/adaptive_sampling.py
Due: check-license-header, docformatter, black, pylint

test(AdaptiveSampling): Unit test for failed simulations.
  tests/unit_tests/iterators/test_adaptive_sampling.py
Due: check-license-header, docformatter, black, pylint

feat: Introduce Queens tutorials
  .github/workflows/build_documentation.yml
  .github/workflows/tests_local.yml
  doc/source/_ext/create_documentation_files.py
  doc/source/conf.py
  doc/source/tutorials.rst
  pyproject.toml
  test_utils/tutorial_tests.py
  tests/conftest.py
  tests/tutorial_tests/__init__.py
  tests/tutorial_tests/test_1_grid_iterator_rosenbrock.py
  tests/tutorial_tests/test_tutorials.py
  tests/unit_tests/tutorials/test_2_grid_iterator_rosenbrock.py
  tutorial-requirements.in
  tutorial-requirements.txt
  tutorials/1-grid-iterator-rosenbrock.ipynb
  tutorials/2-grid-iterator-rosenbrock.ipynb
  tutorials/2-uncertainty-propagation-and-quantification.ipynb
Due: check-license-header, docformatter, black, yamllint, pylint

feat: add tutorial list generation for testing
  tests/tutorial_tests/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

refactor(Jobscript): Move hardcoded output names to function arguments (#258)
  src/queens/drivers/jobscript.py
Due: check-license-header, docformatter, black, pylint

fix: fix variational covariance init from prior (#251)
  src/queens/iterators/_variational_inference.py
  tests/integration_tests/iterators/test_bmfia.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

fix: Clean tutorial wiki and tutorial testing
  pyproject.toml
  test_utils/tutorial_tests.py
  tests/tutorial_tests/test_1_grid_iterator_rosenbrock.py
  tests/tutorial_tests/test_tutorials.py
  tutorials/1_grid_iterator_rosenbrock.ipynb
  tutorials/2_uncertainty_propagation_and_quantification.ipynb
Due: check-license-header, docformatter, black, pylint

fix: Fix renaming of injection function
  tests/tutorial_tests/test_1_grid_iterator_rosenbrock.py
  tests/tutorial_tests/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

fix: Fix documentation not showing
  doc/source/tutorials.rst
Due: none

fix: Change tutorial_test utils description
  test_utils/tutorial_tests.py
Due: check-license-header, docformatter, black, pylint

feat: add ClusterLocal as scheduler on a cluster that does not need a remote connection
  src/queens/schedulers/__init__.py
  src/queens/schedulers/cluster_local.py
Due: check-license-header, docformatter, black, pylint

feat: Add unit test for 2nd tutorial (#288)
  tests/tutorial_tests/test_2_uncertainty_propagation_and_quantification.py
Due: check-license-header, docformatter, black, pylint

feat: add tutorial on orchestrating 4C simulations with QUEENS
  .github/workflows/build_documentation.yml
  doc/source/_ext/create_documentation_files.py
  tutorial-requirements.in
  tutorial-requirements.txt
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/3_orchestrating_4c_simulations/beam_coarse.exo
  tutorials/3_orchestrating_4c_simulations/experimental_data.py
  tutorials/3_orchestrating_4c_simulations/input_template.4C.yaml
  tutorials/3_orchestrating_4c_simulations/utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

feat: add tutorial on orchestrating 4C simulations with QUEENS (#287)
  .github/workflows/build_documentation.yml
  doc/source/_ext/create_documentation_files.py
  tutorial-requirements.in
  tutorial-requirements.txt
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/3_orchestrating_4c_simulations/beam_coarse.exo
  tutorials/3_orchestrating_4c_simulations/experimental_data.py
  tutorials/3_orchestrating_4c_simulations/input_template.4C.yaml
  tutorials/3_orchestrating_4c_simulations/utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

feat: add workshop tutorial 4
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/coarse_plate_dirichlet_template.4C.yaml
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/membrane_20.e
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/utils/plot_input_random_field.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/utils/random_field.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/utils/utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

fix: Add arguments in __init__()
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/utils/random_field.py
Due: check-license-header, docformatter, black, pylint, mypy

refactor: refactor utility and plotting functions for tutorials and reduce code redundancy
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/3_orchestrating_4c_simulations/plot_results.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/plot_input_random_field.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
  tutorials/__init__.py
  tutorials/utils.py
Due: check-license-header, docformatter, black, pylint, mypy

docs: fix docstring in 3rd tutorial experimental data
  tutorials/3_orchestrating_4c_simulations/experimental_data.py
Due: check-license-header, docformatter, black, pylint, mypy

ci: attempt to import tutorials package
  .github/workflows/build_documentation.yml
Due: yamllint

refactor: plot_field for relative file path
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/plot_input_random_field.py
Due: check-license-header, docformatter, black, pylint, mypy

fix: fix called input file name
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
Due: none

fix: copy mesh file to experiment directory
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
Due: none

chore: typos and local import and clean up paths
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
Due: none

docs: improve docstrings and type hints of custom random field
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/plot_input_random_field.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: use test input file for tutorial 4
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
Due: none

feat: attempt to get cauchy stresses
  tests/input_files/third_party/fourc/coarse_plate_dirichlet_template.4C.yaml
Due: yamllint

feat: add tutorial on Quantifying uncertainty due to heterogeneous material fields
  .github/workflows/build_documentation.yml
  tests/input_files/third_party/fourc/coarse_plate_dirichlet_with_exo_template.4C.yaml
  tests/input_files/third_party/fourc/membrane_20.e
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/3_orchestrating_4c_simulations/experimental_data.py
  tutorials/3_orchestrating_4c_simulations/plot_results.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/plot_input_random_field.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
  tutorials/__init__.py
  tutorials/utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

fix: typos
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
Due: none

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)(
^(.gitlab|.github|config|doc|tests|test_utils)/|
^src/(example_simulator_functions|queens_interfaces)/|
^src/queens/(data_processors|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/(main.py|global_settings.py)
).*$

