Repository reginabuehler/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

ci: move artifact handling into pytest action
  .github/actions/run-pytest-suite/action.yml
  .github/workflows/local_testsuite.yml
Due: yamllint

refactor: remove extra string concatenation
  .github/xml_summaries_to_md.py
Due: check-license-header, docformatter, black, pylint

build: fix ruff version mismatch
  .pre-commit-config.yaml
Due: yamllint

docs: fix typo and formatting
  test_utils/get_queens_example_from_readme.py
  test_utils/integration_tests.py
  test_utils/tutorial_tests.py
Due: check-license-header, docformatter, black, pylint

ci: extract definition of bash
  .github/workflows/build_documentation.yml
  .github/workflows/code_quality.yml
  .github/workflows/local_testsuite.yml
  .github/workflows/test_pypi_build.yml
  .github/workflows/update_pixi_lock.yml
Due: yamllint

ci: simplify bash
  .github/actions/run-pytest-suite/action.yml
  .github/workflows/local_testsuite.yml
  .github/workflows/update_pixi_lock.yml
Due: yamllint

ci: simplify bash even more
  .github/actions/run-pytest-suite/action.yml
  .github/actions/setup-queens-pixi/action.yml
  .github/workflows/build_documentation.yml
  .github/workflows/code_quality.yml
  .github/workflows/local_testsuite.yml
  .github/workflows/test_pypi_build.yml
  .github/workflows/update_pixi_lock.yml
Due: yamllint

ci: remove unused default environmnet
  .github/workflows/code_quality.yml
Due: yamllint

ci: use entire src folder as reference for coverage
  pyproject.toml
Due: none

ci: add one source of truth for pixi version
  .github/actions/setup-queens-pixi/action.yml
  .gitlab/.gitlab-ci.yml
  .pixi-version
Due: yamllint

fix: remove unused file
  composed.conda-lock.yml
Due: yamllint

build: expose yamllint config outside precommit hook, add yamllint code quality check
  .github/actions/setup-queens-pixi/action.yml
  .github/workflows/code_quality.yml
  .pre-commit-config.yaml
  .yamllint
Due: yamllint

build: manage version with pixi
  .pre-commit-config.yaml
Due: yamllint

ci: collect all test but ignore problematic cases, add explanation
  .github/workflows/test_pypi_build.yml
Due: yamllint

ci: run pre-commit hooks and code quality in same order, add missing code checks from pre-commit hooks to code quality checks
  .github/workflows/code_quality.yml
  .pre-commit-config.yaml
Due: yamllint

ci: restrict pypi test collection to unit_tests as many packages miss in base env
  .github/workflows/test_pypi_build.yml
Due: yamllint

docs: add explanation for jupyter kernel
  doc/README.md
Due: none

ci: remove comments that break shell command
  .github/workflows/test_pypi_build.yml
Due: yamllint

fix: use absolute path for notebooks in test suite
  tests/integration_tests/cluster/test_cluster.py
  tests/tutorial_tests/test_1_grid_iterator_rosenbrock.py
  tests/tutorial_tests/test_2_uncertainty_propagation_and_quantification.py
  tests/tutorial_tests/tutorial_tests_markers.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

feat: generalize path finding of root and src dirs that also work in pypi tests
  .github/workflows/test_pypi_build.yml
  src/queens/utils/path.py
  tests/unit_tests/utils/test_path_utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

refactor: move helper functions to tests_utils
  test_utils/tutorial_tests.py
  tests/conftest.py
  tests/tutorial_tests/test_1_grid_iterator_rosenbrock.py
  tests/tutorial_tests/test_2_uncertainty_propagation_and_quantification.py
  tests/tutorial_tests/test_tutorials.py
  tests/tutorial_tests/tutorial_tests_markers.py
Due: check-license-header, docformatter, black, pylint

ci: ensure editable queens install
  .gitlab/.gitlab-ci.yml
Due: yamllint

ci: add gitlab strategy variables
  .gitlab/.gitlab-ci.yml
Due: yamllint

fix: install editable queens on remote
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, pylint, mypy

ci: ensure install editable queens on pytest call
  .gitlab/.gitlab-ci.yml
Due: yamllint

ci: switch to locked env
  .gitlab/.gitlab-ci.yml
Due: yamllint

build: update pixi.lock to v7
  pixi.lock
Due: none

ci: add optional use of existign 4C build
  .gitlab/.gitlab-ci.yml
Due: yamllint

ci: run cleanup immediately once tests finish
  .gitlab/.gitlab-ci.yml
Due: yamllint

ci: fix needs statements
  .gitlab/.gitlab-ci.yml
Due: yamllint

ci: periodic, automatic update of pixi version
  .github/workflows/update_pixi_lock.yml
Due: yamllint

ci: fix naming
  .github/workflows/update_dependencies.yml
Due: yamllint

ci: deactivate caching for non-install
  .github/workflows/update_dependencies.yml
Due: yamllint

ci: frozen cannot be true if install is false
  .github/actions/setup-queens-pixi/action.yml
  .github/workflows/update_dependencies.yml
Due: yamllint

ci: switch default value for environment
  .github/actions/setup-queens-pixi/action.yml
  .github/workflows/update_dependencies.yml
Due: yamllint

ci: switch to GitHub App managed branch creation
  .github/workflows/update_dependencies.yml
Due: yamllint

refactor: move root_directory method to test_utils
  doc/source/_ext/create_documentation_files.py
  src/queens/global_settings.py
  src/queens/utils/cli.py
  src/queens/utils/path.py
  src/queens/utils/remote_operations.py
  test_utils/get_queens_example_from_readme.py
  test_utils/path.py
  test_utils/tutorial_tests.py
  tests/conftest.py
  tests/integration_tests/cluster/test_cluster.py
  tests/tutorial_tests/test_1_grid_iterator_rosenbrock.py
  tests/tutorial_tests/test_2_uncertainty_propagation_and_quantification.py
  tests/unit_tests/data_processors/test_txt_file.py
  tests/unit_tests/utils/test_path_utils.py
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

fix: detect root reliably from relative to test_utils
  test_utils/path.py
  tests/unit_tests/utils/test_path_utils.py
Due: check-license-header, docformatter, black, pylint

fix: split into test and runtime implementations
  src/queens/global_settings.py
  src/queens/utils/cli.py
  src/queens/utils/path.py
  src/queens/utils/remote_operations.py
  test_utils/path.py
  tests/unit_tests/utils/test_path_utils.py
Due: check-license-header, docformatter, black, pylint, mypy

fix: use correct root in tests
  tests/unit_tests/utils/test_path_utils.py
Due: check-license-header, docformatter, black, pylint

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)(
^(.gitlab|.github|config|doc|tests|test_utils)/|
^src/(example_simulator_functions|queens_interfaces)/|
^src/queens/(data_processors|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/(main.py|global_settings.py)
).*$

