Repository reginabuehler/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2 # Ruff version
    hooks:
      # Run the linter.
      # Needs to placed before black, isort, and other formatters
      - id: ruff
        args: [--fix]
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: check-added-large-files
        name: check for added large files
        entry: check-added-large-files
        language: python
        types: [text]
      - id: check-license-header
        name: check for correct license header
        entry: licenseheaders
        args: ["-t", "license_header.tmpl", "--files"]
        language: python
        types: ["python"]
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        args: [--in-place]
        language: python
        types: ["python"]
      - id: commitizen
        name: commitizen
        entry: cz
        args: ["check", "--commit-msg-file", ".git/COMMIT_EDITMSG"]
        pass_filenames: false
        language: system
        stages: [commit-msg, manual]
      - id: isort
        name: isort (python)
        entry: isort
        language: python
        always_run: false
        pass_filenames: true
        additional_dependencies: ["toml"]
      - id: black
        name: black
        entry: black
        language: python
        types: ["python"]
        always_run: false
        pass_filenames: true
        additional_dependencies: ["toml"]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args:
          - > # This is needed to lint the jinja templates
            -d={extends: default, rules: {braces: {max-spaces-inside: 1}
            , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
          - -f=colored
        language: python
        types: ["yaml"]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: ["python"]
        additional_dependencies: ["toml"]
        always_run: false
        pass_filenames: true
        exclude: '^tests/integration_tests/'
      - id: pylint-integration-tests
        name: pylint (tests)
        entry: pylint --disable=duplicate-code
        language: python
        types: ["python"]
        additional_dependencies: ["toml"]
        always_run: false
        pass_filenames: true
        files: '^tests/integration_tests/'
      - id: mypy
        name: mypy (check type hinting)
        entry: mypy
        language: python
        types: ["python"]
        pass_filenames: true
        # Delete modules once type hinting has been introduced there
        exclude: |
          (?x)(
          ^(.gitlab|.github|config|doc|tests|test_utils)/|
          ^src/(example_simulator_functions|queens_interfaces)/|
          ^src/queens/(data_processors|drivers|iterators|models|parameters)/|
          ^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
          ^src/queens/(main.py|global_settings.py)
          ).*$
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: Strip outputs from Jupyter notebooks
        files: \.ipynb$

Add missing option to `dask_cluster_kwargs`
  src/queens/schedulers/cluster_local.py
Due: check-license-header, docformatter, black, pylint

feat: add tutorial on Uncertainty Quantification Based on Heterogeneous Material Fields in 4C
  .github/workflows/build_documentation.yml
  tests/input_files/third_party/fourc/coarse_plate_dirichlet_with_exo_template.4C.yaml
  tests/input_files/third_party/fourc/membrane_20.e
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/3_orchestrating_4c_simulations/experimental_data.py
  tutorials/3_orchestrating_4c_simulations/plot_results.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/plot_input_random_field.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
  tutorials/__init__.py
  tutorials/utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

feat: Add missing option to `dask_cluster_kwargs`
  src/queens/schedulers/cluster_local.py
Due: check-license-header, docformatter, black, pylint

refactor: introduce cluster scheduler hierarchy
  src/queens/schedulers/__init__.py
  src/queens/schedulers/_cluster_base.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/cluster_local.py
  src/queens/utils/start_dask_cluster.py
Due: check-license-header, docformatter, black, pylint, mypy

test: fix elementary effects tests
  tests/integration_tests/iterators/test_elementary_effects.py
Due: check-license-header, docformatter, black, pylint-integration-tests

ci: add pypi build test
  .github/workflows/test_pypi_build.yml
Due: yamllint

ci: ignore path test in wheel based tests
  .github/workflows/test_pypi_build.yml
Due: yamllint

docs: add orcid
  CITATION.cff
Due: none

docs: add remote computing tutorial (#265)
  src/queens/drivers/jobscript.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_cluster.py
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
  tutorials/5_grid_iterator_4c_remote/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

style: add type hinting to variational distributions (#261)
  .pre-commit-config.yaml
  doc/source/conf.py
  pyproject.toml
  src/queens/distributions/__init__.py
  src/queens/parameters/random_fields/__init__.py
  src/queens/variational_distributions/__init__.py
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

feat: activate testing of tutorial tests that use 4C
  .github/workflows/local_testsuite.yml
  pyproject.toml
  tests/README.md
  tests/conftest.py
  tests/tutorial_tests/test_1_grid_iterator_rosenbrock.py
  tests/tutorial_tests/test_2_uncertainty_propagation_and_quantification.py
  tests/tutorial_tests/test_tutorials.py
  tests/tutorial_tests/tutorial_tests_markers.py
Due: check-license-header, docformatter, black, yamllint, pylint

fix: import error in 4c tutorial tests
  test_utils/tutorial_tests.py
  tests/tutorial_tests/test_tutorials.py
  tutorials/3_orchestrating_4c_simulations/plot_results.py
Due: check-license-header, docformatter, black, pylint, mypy

fix: change cwd for notebook tests
  test_utils/tutorial_tests.py
  tests/tutorial_tests/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

fix: resolve notebook path in test execution
  test_utils/tutorial_tests.py
  tests/tutorial_tests/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

fix: add tutorials dir to sys.path
  test_utils/tutorial_tests.py
  tests/tutorial_tests/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

refactor: use config directories to identify base dir
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
Due: none

fix: use pandas functionality for filtering
  src/queens/data_processors/csv_file.py
  tests/unit_tests/data_processors/test_csv_file.py
Due: check-license-header, docformatter, black, pylint

ci: publish junit report for each pytest job
  .github/workflows/local_testsuite.yml
Due: yamllint

fix: np.NaN has been deprecated
  src/queens/iterators/sobol_index_gp_uncertainty_utils/estimator.py
Due: check-license-header, docformatter, black, pylint

fix: accepted_sum is a one-dimensional array in case of several chains, need to convert accordingly to a string
  src/queens/iterators/metropolis_hastings_pymc.py
Due: check-license-header, docformatter, black, pylint

docs: document details of test setup
  tests/integration_tests/iterators/test_metropolis_hastings_pymc.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: adjust expected values and switch to numpy testing, control tols
  tests/integration_tests/iterators/test_metropolis_hastings_pymc.py
Due: check-license-header, docformatter, black, pylint-integration-tests

docs: add explanation of test setup
  tests/integration_tests/iterators/test_nuts.py
Due: check-license-header, docformatter, black, pylint-integration-tests

feat: switch to numpy testing statements
  tests/integration_tests/iterators/test_nuts.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: adjust expected values for new dependency versions
  tests/integration_tests/iterators/test_nuts.py
Due: check-license-header, docformatter, black, pylint-integration-tests

feat: loosen tolerances a bit
  tests/integration_tests/iterators/test_metropolis_hastings_pymc.py
  tests/integration_tests/iterators/test_nuts.py
Due: check-license-header, docformatter, black, pylint-integration-tests

docs: add explanation of test setup
  tests/integration_tests/iterators/test_hamiltonian_monte_carlo.py
Due: check-license-header, docformatter, black, pylint-integration-tests

feat: switch to numpy testing statements and loosen tolerances
  tests/integration_tests/iterators/test_hamiltonian_monte_carlo.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: adjust desired values for new dependency versions
  tests/integration_tests/iterators/test_hamiltonian_monte_carlo.py
Due: check-license-header, docformatter, black, pylint-integration-tests

feat: switch to numpy testing statements with adaptable tolerances
  tests/integration_tests/iterators/test_latin_hypercube_sampling.py
Due: check-license-header, docformatter, black, pylint-integration-tests

docs: add explanation of test setup and analytical solution
  tests/integration_tests/iterators/test_latin_hypercube_sampling.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: control reproducibility of lhs sampling with proper, modern rng seeding
  src/queens/iterators/latin_hypercube_sampling.py
Due: check-license-header, docformatter, black, pylint

fix: adjust desired values due to new dependency versions
  tests/unit_tests/iterators/test_latin_hypercube_sampling.py
Due: check-license-header, docformatter, black, pylint

fix: change desired values since salib switched to proper np.random.Generator usage
  tests/unit_tests/iterators/test_elementary_effects.py
Due: check-license-header, docformatter, black, pylint

fix: adjust desired values due to changed sequences
  tests/unit_tests/iterators/test_elementary_effects.py
Due: check-license-header, docformatter, black, pylint

fix: define cdf of lognormal for x<=0 to be 0, this is identical to the corresponding scipy behaviour
  src/queens/distributions/lognormal.py
  tests/unit_tests/distributions/test_lognormal.py
Due: check-license-header, docformatter, black, pylint, mypy

fix: adapt desired values that changed due to the LHS implementation (fixing the seed)
  tests/integration_tests/iterators/test_sobol_index.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: adjust desired values due to changed lhs behaviour (fixed seed)
  tests/integration_tests/iterators/test_sobol_index_gp_uncertainty.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: add marker for tutorial 5
  tests/tutorial_tests/tutorial_tests_markers.py
Due: check-license-header, docformatter, black, pylint

ci: exclude tests/unit_tests/data_processors/test_txt_file.py from build tests
  .github/workflows/test_pypi_build.yml
Due: yamllint
