Repository reginabuehler/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

fix: update Sized import
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, pylint

fix: mypy errors due to Literal[1]
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
Due: check-license-header, docformatter, black, pylint

fix: switch to precomputed desired values
  tests/integration_tests/models/test_gaussian_neural_network.py
Due: check-license-header, docformatter, black, pylint-integration-tests

feat: introduce seed handling with seed sequences
  src/queens/models/surrogates/gaussian_neural_network.py
  tests/integration_tests/iterators/test_bmfia.py
  tests/integration_tests/models/test_gaussian_neural_network.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

feat: print content of log file to error message
  src/queens/drivers/jobscript.py
  tests/unit_tests/drivers/test_jobscript.py
Due: check-license-header, docformatter, black, pylint

feat: add convergence test marker and test variant for gaussian neural network
  pyproject.toml
  tests/README.md
  tests/conftest.py
  tests/integration_tests/models/test_gaussian_neural_network.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

fix: reduce tolerance to make test past of macos and ubuntu
  tests/integration_tests/models/test_gaussian_neural_network.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: make sure to use same python executable
  tests/integration_tests/iterators/test_rpvi.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: subprocess setup for test
  tests/integration_tests/readme_example/test_readme_example.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: loosen tolerance to work with macos and ubuntu
  tests/integration_tests/models/test_logpdf_gaussian_process.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: maxiter not known by TNC optimizer
  src/queens/iterators/optimization.py
Due: check-license-header, docformatter, black, pylint

fix: deactivate pca tests for macos with automatic reenable once the downstream problems are solved
  src/queens/iterators/polynomial_chaos.py
  tests/integration_tests/iterators/test_polynomial_chaos.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

ci: make macos pypi build test optional (should be temporary)
  .github/workflows/test_pypi_build.yml
Due: yamllint

ci: bump version of setup-python action
  .github/workflows/test_pypi_build.yml
Due: yamllint

docs: update documentation with pixi dependency management
  .github/actions/setup-queens-pixi/action.yml
  CONTRIBUTING.md
  README.md
  doc/README.md
  doc/source/_ext/templates/introduction.md.j2
  doc/source/faqs/requirements.md
  pyproject.toml
  src/queens_interfaces/fourc/README.md
  src/queens_interfaces/fourc/random_material_preprocessor.py
  tests/README.md
Due: check-license-header, docformatter, black, yamllint, pylint

ci: remove conda environment action
  .github/actions/create_python_environment/action.yml
Due: yamllint

build: remove conda environment files
  environment.base.yml
  environment.dev.yml
  environment.fourc.yml
  environment.tutorials.yml
Due: yamllint

build: remove dev dependencies from base environment
  .github/workflows/test_pypi_build.yml
  pyproject.toml
Due: yamllint

build: update pixi.lock
  pixi.lock
Due: none

ci: update md github summary report to new workflow
  .github/workflows/local_testsuite.yml
  .github/xml_summaries_to_md.py
Due: check-license-header, docformatter, black, yamllint, pylint

ci: remove junit report from collection since it is published per job step
  .github/workflows/local_testsuite.yml
Due: yamllint

docs: instructions on how to change dependencies
  CONTRIBUTING.md
  doc/source/faqs/requirements.md
Due: none

build: make queens-base the default environment, remove queens-base
  pixi.lock
  pyproject.toml
Due: none

docs: remove double information
  doc/README.md
Due: none

ci: add workflow for automatic dependecy upgrades
  .github/workflows/update_pixi_lock.yml
Due: yamllint

refactor: activate yamllint for workflow yml files
  .github/workflows/build_documentation.yml
  .github/workflows/code_quality.yml
  .github/workflows/local_testsuite.yml
  .github/workflows/test_pypi_build.yml
  .github/workflows/update_pixi_lock.yml
Due: yamllint

ci: add dependabot automatic updating of actions
  .github/dependabot.yml
Due: yamllint

docs: fix link to section
  doc/source/faqs/requirements.md
Due: none

docs: update documentation with default pixi environment and rename queens-base-dir to queens-root-dir
  .github/workflows/code_quality.yml
  README.md
  doc/README.md
  doc/source/faqs/requirements.md
  tests/README.md
  tests/integration_tests/fourc/conftest.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
Due: check-license-header, docformatter, black, yamllint, pylint-integration-tests

ci: unify use of pixi to make maintenance easier
  .github/actions/setup-queens-pixi/action.yml
  .github/workflows/update_pixi_lock.yml
Due: yamllint

ci: add gitattributes file for pixi.lock
  .gitattributes
Due: none

ci: bump pixi version, fix pixi version
  .github/actions/setup-queens-pixi/action.yml
Due: yamllint

build: remove environment name prefix queens-
  .github/actions/setup-queens-pixi/action.yml
  .github/workflows/build_documentation.yml
  .github/workflows/code_quality.yml
  .github/workflows/local_testsuite.yml
  .gitlab/.gitlab-ci.yml
  CONTRIBUTING.md
  README.md
  doc/README.md
  doc/source/_ext/templates/introduction.md.j2
  doc/source/faqs/requirements.md
  pixi.lock
  pyproject.toml
  src/queens/utils/remote_build.py
  src/queens/utils/remote_operations.py
  src/queens_interfaces/fourc/README.md
  src/queens_interfaces/fourc/random_material_preprocessor.py
  tests/README.md
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

ci: remove unnecessary pixi run calls
  .github/workflows/local_testsuite.yml
Due: yamllint

fix: remove debugging print statements
  tests/integration_tests/iterators/test_sobol_index_gp_uncertainty.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: remove duplicate test
  tests/integration_tests/models/test_gaussian_neural_network.py
Due: check-license-header, docformatter, black, pylint-integration-tests

docs: unify description of seed
  src/queens/models/surrogates/gaussian_neural_network.py
Due: check-license-header, docformatter, black, pylint

ci: rename job
  .github/workflows/code_quality.yml
Due: yamllint

ci: remove groups in single group steps
  .github/workflows/code_quality.yml
Due: yamllint

ci: introduce action to run pytest
  .github/actions/run-pytest-suite/action.yml
  .github/workflows/local_testsuite.yml
Due: yamllint

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)(
^(.gitlab|.github|config|doc|tests|test_utils)/|
^src/(example_simulator_functions|queens_interfaces)/|
^src/queens/(data_processors|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/(main.py|global_settings.py)
).*$

